{% extends 'knockoffKing/index.html' %}

{% load group_tags %} {# Load the custom filter #}

{% block content %}

  <!-- Home Page Start -->

  <div class="container px-1 py-3" id="homeContainer">

  <div class="jumbotron">

    <!-- Home Page Title -->
    {% if user.is_authenticated %}

      <h1>Welcome to Knockoff King {{ user.first_name }} {{ user.last_name }}</h1>

    {% else %}

      <h1>Welcome to Knockoff King</h1>

    {% endif %}
    <!-- Home Page Title -->

    <h3>Shop for the latest products</h3>

    {% if message != "None" %}
    <div class="alert alert-info" role="alert">
      {{ message }}
    </div>
    {% endif %}

  </div>

  <br>
  <h5><a href="{{ book_nook.get_absolute_url }}"><i class="fas fa-circle me-2"></i>{{ book_nook.name }}</a></h5>
  <!-- Seller Product Grid -->
  <div class="row row-cols-4 g-4">
    {% for product in book_list %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="max-width: 150px; height: auto;">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">
              ${{ product.price }}
              <br>
              <!-- Seller (Owner) View -->
              {% if user.is_authenticated %}
              {% if user|has_group:"Seller" or user|has_group:"Admin" %}
                {% if usermodel.getUserID == product.seller.user_id or user|has_group:"Admin" %}
                  <!-- Product Quantity -->
                  ({{ product.quantity }})
                  <br>
                {% endif %}
              {% endif %}
              {% endif %}
              <!-- Seller (Owner) View -->
              {{ product.description }}
            </p>
          </div>
          

          <div class="text-center">
            {% if user.is_authenticated %}

            <!-- Customer View -->
            {% if user|has_group:"Customer" %}
              {% if product.quantity <= 0 %}
                <button class="btn btn-primary btn-block" disabled>Out of Stock</button>
              {% else %}
                <a href="{% url 'add-to-cart' product_id=product.id %}" class="btn btn-primary btn-block">Add to Cart</a>
              {% endif %}
            {% endif %}
            <!-- Customer View -->

            <!-- Seller (Owner) View -->
            {% if user|has_group:"Seller" or user|has_group:"Admin" %}
              {% if usermodel.getUserID == product.seller.user_id or user|has_group:"Admin" %}
                <a class="btn btn-secondary" href="{{ product.get_absolute_url }}" role="button">Update</a>
                <a class="btn btn-danger" href="{% url 'delete-product' product.id %}" role="button">Delete</a>
              {% endif %}
            {% endif %}
            <!-- Seller (Owner) View -->

            <!-- Guest View -->
            {% else %}
              <a href="{% url 'login' %}" class="btn btn-primary btn-block">Add to Cart</a>
            <!-- Guest View -->

          {% endif %}
          </div>

        </div>
      </div>
    {% endfor %}
  </div>
  <!-- Seller Product Grid -->
  <br>
  <h5><a href="{{ sports_world.get_absolute_url }}"><i class="fas fa-circle me-2"></i>{{ sports_world.name }}</a></h5>
  <!-- Seller Product Grid -->
  <div class="row row-cols-4 g-4">
    {% for product in equipment_list %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="max-width: 150px; height: auto;">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">
              ${{ product.price }}
              <br>
              <!-- Seller (Owner) View -->
              {% if user.is_authenticated %}
              {% if user|has_group:"Seller" or user|has_group:"Admin" %}
                {% if usermodel.getUserID == product.seller.user_id or user|has_group:"Admin" %}
                  <!-- Product Quantity -->
                  ({{ product.quantity }})
                  <br>
                {% endif %}
              {% endif %}
              {% endif %}
              <!-- Seller (Owner) View -->
              {{ product.description }}
            </p>
          </div>

          <div class="text-center">
            {% if user.is_authenticated %}

              {% if user|has_group:"Customer" %}
                <a href="{% url 'add-to-cart' product_id=product.id %}" class="btn btn-primary btn-block">Add to Cart</a>
              {% endif %}

              {% if user|has_group:"Seller" or user|has_group:"Admin" %}
                {% if usermodel.getUserID == product.seller.user_id or user|has_group:"Admin" %}
                  <a class="btn btn-secondary" href="{{ product.get_absolute_url }}" role="button">Update</a>
                  <a class="btn btn-danger" href="{% url 'delete-product' product.id %}" role="button">Delete</a>
                {% endif %}
              {% endif %}

            {% else %}
              <a href="{% url 'login' %}" class="btn btn-primary btn-block">Add to Cart</a>

            {% endif %}
          </div>

        </div>
      </div>
    {% endfor %}
  </div>
  <!-- Seller Product Grid -->

  </div>

  <!-- Home Page End -->

  

{% endblock %}