

{% load group_tags %} {# Load the custom filter #}



{% if user|has_group:"Customer" %}

    <!-- Customer Navbar -->

    {% include 'knockoffKing/nav_customer.html' %}

    <!-- Customer Navbar -->

{% elif user|has_group:"Seller" %}

    <!-- Seller Navbar -->

    {% include 'knockoffKing/nav_seller.html' %}

    <!-- Seller Navbar -->

{% elif user|has_group:"Admin" %}

    <!-- Admin Navbar -->

    {% include 'knockoffKing/nav_admin.html' %}

    <!-- Admin Navbar -->

{% else %}

    <!-- Guest Navbar -->

    {% include 'knockoffKing/nav_guest.html' %}

    <!-- Guest Navbar -->

{% endif %}

