<!-- Navbar Module Start -->

<header>

  <!-- Navbar Links Container Start -->
  <div class="px-3 py-2 text-bg-dark">
    <div class="container">

      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <a class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
          href="{% url 'home' %}">
          {% load static %}
          <img src="{% static 'images/favicon.ico' %}" height="35" alt="Pengu" loading="lazy">
        </a>

        <!-- Navbar Links Start -->
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">

          <!-- Home Link -->
          <li>
            <a href="{% url 'home' %}" class="nav-link text-white">
              <!-- Home SVG Image -->
              <svg class="bi d-block mx-auto mb-1" style="fill:white;" width="24" height="24">
                <use xlink:href="#home"></use>
              </svg>
              Home
            </a>
          </li>
          <!-- Home Link -->

          <!-- Orders Link -->
          <li>
            <a href="{% url 'seller-orders' %}" class="nav-link text-white">
              <!-- Orders SVG Image -->
              <svg class="bi d-block mx-auto mb-1" style="fill:white;" width="24" height="24">
                <use xlink:href="#truck"></use>
              </svg>
              Orders
            </a>
          </li>
          <!-- Orders Link -->

          <!-- Products Link -->
          <li>
            <a href="{% url 'products' %}" class="nav-link text-white">
              <!-- Products SVG Image -->
              <svg class="bi d-block mx-auto mb-1" style="fill:white;" width="24" height="24">
                <use xlink:href="#grid"></use>
              </svg>
              Products
            </a>
          </li>
          <!-- Products Link -->

          <!-- Store Link -->
          <li>
            <a href="{{ seller.get_absolute_url }}" class="nav-link text-white">
              <!-- Products SVG Image -->
              <svg class="bi d-block mx-auto mb-1" style="fill:white;" width="24" height="24">
                <use xlink:href="#shop"></use>
              </svg>
              Store
            </a>
          </li>
          <!-- Store Link -->

          <!-- Profile Link -->
          <li>
            <a href="{% url 'profile' %}" class="nav-link text-white">
              <!-- Customer SVG Image -->
              <svg class="bi d-block mx-auto mb-1" style="fill:white;" width="24" height="24">
                <use xlink:href="#people-circle"></use>
              </svg>
              Profile
            </a>
          </li>
          <!-- Profile Link -->

        </ul>
        <!-- Navbar Links End -->

      </div>

    </div>
  </div>
  <!-- Navbar Links Container End -->

  <!-- Search, Login/Logout, and Register -->
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">

      <!-- Navbar Search ~ Form ~ (Start) -->
      <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto d-flex align-items-center" role="search" action="{% url 'search' %}" method="GET">

        <!-- (Input) Search query -->
        <input class="form-control me-2" name=q type="search" placeholder="Search" aria-label="Search" id="searchBar">
        <!-- (Input) Search query -->
      
        <!-- (Button) Submit -->
        <button class="btn btn-secondary" type="submit" id="searchBtn">Search</button>
        <!-- (Button) Submit -->
      
      </form>
      <!-- Navbar Search ~ Form ~ (End) -->

      <div class="text-end">

        <!-- (Button) Logout -->
        <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
        <!-- (Button) Logout -->

      </div>

    </div>
  </div>
  <!-- Search, Login/Logout, and Register -->

</header>

<!-- Navbar Module End -->