{% extends "knockoffKing/index.html" %}

{% block content %}
<!-- Customer Orders Page Start -->

<div class="container px-1 py-3" id="ordersContainer">
  <div class="container">
    <!-- Orders Page Title -->
    <h2 class="pb-2 border-bottom" style="color:#999999">Customer Orders</h2>
    <!-- Orders Page Title -->

    {% if active_orders %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Order ID</th>
          <th scope="col">Order Total</th>
          <th scope="col">Date Created</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for order in active_orders %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><a href="{{ order.order.get_absolute_url }}"><i class="fas fa-circle me-2"></i>{{ order.order.id }}</a></td>
          <td>${{ order.order.subTotal }}</td>
          <td>{{ order.order.dateCreated }}</td>
          <td>{{ order.order.get_status_display }}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
    {% else %}

    <h5>You have no order history.</h5>

    {% endif %}

  </div>
</div>

<!-- Customer Orders Page End -->
{% endblock %}