{% extends 'knockoffKing/index.html' %}

{% block content %}

<!--  Order Detail Page Start -->

<div class="container px-1 py-3" id="orderDetailsContainer">
  <div class="container">

    <!-- Order Detail Page Title -->
    <h2 class="pb-2 border-bottom" style="color:#999999">Order Detail Page for {{ order.id }}</h2>
    <!-- Order Detail Page Title -->
    <h5>Order Total: ${{ order.subTotal }}</h5>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Return</th>
        </tr>
      </thead>
      <tbody>
        {% for item in order_items %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ item.product.name }}</td>
          <td>${{ item.product.price }}</td>
          <td>{{ item.quantity }}</td>
          {% if item.return_available %}
            <td><a href="{{ item.get_absolute_url }}" class="btn btn-secondary btn-sm" role="button">Return</a></td>
          {% else %}
            <td><a class="btn btn-secondary btn-sm disabled" role="button">Return</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>

    </table>

  </div>
</div>

<!-- Order Detail Page End -->

{% endblock %}