{% extends 'knockoffKing/index.html' %}

{% block content %}

<!-- Products Page Start -->

<div class="container px-1 py-3" id="productsContainer">
  <div class="container">
    <!-- Products Page Title -->
    <div class="d-flex justify-content-between border-bottom" style="color:#999999">
      <h2>Products Page</h2>

      <div class="px-3 py-0 my-0" style=>
        {% if error != "None" %}
          <a class="d-none btn btn-primary" role="button">Add Product</a>
        {% else %}
          <a href="{% url 'add-product' %}" class="btn btn-primary" role="button">Add Product</a>
        {% endif %}
      </div>

    </div>
    <!-- Products Page Title -->

    {% if error != "None" %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>

    {% else %}

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Added</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Update</th>
        </tr>
      </thead>
      <tbody>
        {% for product in product_list %}
        <tr>
          <th scope="row">1</th>
          <td>{{ product.name }}</td>
          <td>${{ product.price }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.created }}</td>
          <td>{{ product.updated }}</td>
          <td><a href="{{ product.get_absolute_url }}" class="btn btn-secondary btn-sm" role="button">Update</a></td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

    {% endif %}

  </div>
</div>

<!-- Products Page End -->

{% endblock %}