{% extends 'knockoffKing/index.html' %}

{% block content %}

<!-- Profile Page Start -->

<div class="container px-1 py-3" id="profileContainer">
	<div class="container">
		<!-- Profile Page Title -->
		<h2 class="pb-2 border-bottom" style="color:#999999">Profile Page</h2>
		<!-- Profile Page Title -->

		<!-- Successful Product Creation Message -->
		{% if success %}
			<div class="alert alert-success" role="alert">
				Your profile was successfully updated!</span>
			</div>
		{% elif error %}
			<div class="alert alert-danger" role="alert">
				Passwords did not match.</span>
			</div>
		{% endif %}
		<!-- Successful Product Creation Message -->

		<!-- Add Product Page ~ Form ~ (Start) -->
		<form class="row g-3 needs-validation" method="post" action="/profile/" novalidate>

			{% csrf_token %}

			<!-- (Input) Email -->
			<div class="col-md-8">
				<label for="newEmail" class="form-label">Email</label>
				<input type="text" class="form-control" id="newEmail" name="newEmail" value="{{ user.email }}">
			</div>
			<!-- (Input) Email -->



			<!-- (Input) First Name -->
			<div class="col-md-8">
				<label for="newFirstName" class="form-label">First Name</label>
				<input type="text" class="form-control" id="newFirstName" name="newFirstName" value="{{ user.first_name }}">
			</div>
			<!-- (Input) First Name -->



			<!-- (Input) Last Name -->
			<div class="col-md-8">
				<label for="newLastName" class="form-label">Last Name</label>
				<input type="text" class="form-control" id="newLastName" name="newLastName" value="{{ user.last_name }}">
			</div>
			<!-- (Input) Last Name -->



			<!-- (Input) Password1 -->
			<div class="col-md-8">
				<label for="newPass1" class="form-label">Password</label>
				<input type="password" class="form-control" id="newPass1" name="newPass1">     
		</div>
		<!-- (Input) Password1 -->



		<!-- (Input) Password2 -->
		<div class="col-md-8">
				<label for="newPass2" class="form-label">Confirm Password</label>
				<input type="password" class="form-control" id="newPass2" name="newPass2">
		</div>
		<!-- (Input) Password2 -->



			<!-- (Button) Update Profile -->
			<div class="col-12">
				<button class="btn btn-primary" type="submit">Update Profile</button>
			</div>
			<!-- (Button) Update Profile -->

	</div>
</div>

<!-- Profile Page End -->

<script>
	// Update profile details on form input change
	document.querySelector('#newEmail').addEventListener('input', function () {
			document.querySelector('#newEmail').textContent = this.value;
	});
	document.querySelector('#newFirstName').addEventListener('input', function () {
			document.querySelector('#newFirstName').textContent = this.value;
	});
	document.querySelector('#newLastName').addEventListener('input', function () {
			document.querySelector('#newLastName').textContent = this.value;
	});
	document.querySelector('#newPass1').addEventListener('input', function () {
			document.querySelector('#newPass1').textContent = this.value;
	});
	document.querySelector('#newPass2').addEventListener('input', function () {
			document.querySelector('#newPass2').textContent = this.value;
	});
</script>

{% endblock %}