{% extends 'knockoffKing/index.html' %}

{% block content %}

<!-- Register Page Start -->

<div class="container px-1 py-3" id="sellerContainer">

    <!-- Register Page Title -->
    <h2 class="pb-2 border-bottom" style="color:#999999">Register</h2>
    <!-- Register Page Title -->

    <!-- Register Page ~ Form ~ (Start) -->
    <form class="row g-3 needs-validation" novalidate method="post" action="/register/">
        
        {% csrf_token %}

        <!-- (Input) First Name -->
        <div class="col-md-4 position-relative">
            <label for="first_name" class="form-label">First name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <!-- (Input) First Name -->



        <!-- (Input) Last Name -->
        <div class="col-md-4 position-relative">
            <label for="last_name" class="form-label">Last name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <!-- (Input) Last Name -->



        <!-- (Input) Email -->
        <div class="col-md-4 position-relative">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <!-- (Input) Email -->



        <!-- (Input) Password -->
        <div class="col-md-4 position-relative">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <!-- (Input) Password -->



        <!-- (Input) User Type Hidden Field -->
        <input type="hidden" name="usrTypeIn" id="usrTypeIn">
        <!-- (Input) User Type Hidden Field -->

        

        <!-- (Input) User Type -->
        <div class="col-md-4 position-relative">
            <label for="userTypebtn" class="form-label">User Type</label>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="usrTypeBtn" data-bs-toggle="dropdown" aria-expanded="false">
                  Select User Type
                </button>
                <ul class="dropdown-menu" aria-labelledby="usrTypeBtn">
                  <li><a class="dropdown-item" href="#" onclick="setUserType('Customer')">Customer</a></li>
                  <li><a class="dropdown-item" href="#" onclick="setUserType('Seller')">Seller</a></li>
                </ul>
              </div>
        </div>
        <!-- (Input) User Type -->



        <!-- (Button) Submit -->
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
        <!-- (Button) Submit -->

    </form>
    <!-- Register Page ~ Form ~ (End) -->

</div>

<!-- Register Page End -->

<script>
    function setUserType(userType) {
      document.getElementById("usrTypeBtn").innerText = userType;
      document.getElementById("usrTypeIn").value = userType;
    }
  </script>

{% endblock %}



