{% extends 'knockoffKing/index.html' %}

{% load group_tags %} {# Load the custom filter #}

{% block content %}

<!-- Search Page Start -->

<div class="container px-1 py-3" id="searchContainer">
	<div class="container">
    <!-- Search Page Title -->
    <h2 class="pb-2 border-bottom" style="color:#999999">Searching for...</h2>
    <!-- Search Page Title -->
    <div class="row row-cols-4 g-4">
      {% for product in products %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="max-width: 150px; height: auto;">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">
                ${{ product.price }}
                <br>
                <!-- Seller (Owner) View -->
                {% if user.is_authenticated %}
                {% if user|has_group:"Seller" or user|has_group:"Admin" %}
                  {% if usermodel.getUserID == product.seller.user_id or user|has_group:"Admin" %}
                    <!-- Product Quantity -->
                    ({{ product.quantity }})
                    <br>
                  {% endif %}
                {% endif %}
                {% endif %}
                <!-- Seller (Owner) View -->
                <p>{{ product.description|truncatechars:100 }}</p>
              </p>
            </div>
    
            <div class="text-center">
              {% if user.is_authenticated %}
    
              <!-- Customer View -->
              {% if user|has_group:"Customer" %}
                {% if product.quantity <= 0 %}
                  <button class="btn btn-primary btn-block" disabled>Out of Stock</button>
                {% else %}
                  <a href="{% url 'add-to-cart' product_id=product.id %}" class="btn btn-primary btn-block">Add to Cart</a>
                {% endif %}
              {% endif %}
              <!-- Customer View -->
    
              <!-- Seller (Owner) View -->
              {% if user|has_group:"Seller" or user|has_group:"Admin" %}
                {% if usermodel.getUserID == product.seller.user_id or user|has_group:"Admin" %}
                  <a class="btn btn-secondary" href="{{ product.get_absolute_url }}" role="button">Update</a>
                  <a class="btn btn-danger" href="{% url 'delete-product' product.id %}" role="button">Delete</a>
                {% endif %}
              {% endif %}
              <!-- Seller (Owner) View -->
    
              <!-- Guest View -->
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-block">Add to Cart</a>
              <!-- Guest View -->
    
              {% endif %}
            </div>
    
          </div>
        </div>
      {% endfor %}
    </div>
    
  </div>
</div>

<!-- Search Page End -->

{% endblock %}