{% extends "knockoffKing/index.html" %}

{% block content %}
<!-- Seller Orders Page Start -->

<div class="container px-1 py-3" id="sellerOrdersContainer">
  <div class="container">
    <!-- Orders Page Title -->
    <h2 class="pb-2 border-bottom" style="color:#999999">Seller Orders</h2>
    <!-- Orders Page Title -->

    {% if active_orders %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Order ID</th>
          <th scope="col">Order Total</th>
          <th scope="col">Date Created</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for order in active_orders %}
        <tr>
          <th scope="row">1</th>
          <td>{{ order.id }}</td>
          <td>${{ order.subTotal }}</td>
          <td>{{ order.dateCreated }}</td>
          <td>{{ order.get_status_display }}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
    {% else %}

    <h5>You have no order history.</h5>

    {% endif %}

  </div>
</div>

<!-- Seller Orders Page End -->
{% endblock %}