{% extends 'knockoffKing/index.html' %}

{% load group_tags %} {# Load the custom filter #}

{% block content %}

<!-- Seller Detail Page Start -->

<div class="container px-1 py-3" id="sellerDetailContainer">

    <h1>{{ seller.name }}</h1>
    {% if user_uuid %}
      <p>UUID: {{ user_uuid }}</p>
    {% else %}
      <p>You are not logged in</p>
    {% endif %}
    
    <!-- Seller Detail Page Title -->
    <h2 class="pb-2 border-bottom" style="color:#999999">{{ seller.user.id }}</h2>
    <!-- Seller Detail Page Title -->

    <!-- Seller Product Grid -->
    <div class="row row-cols-4 g-4">
        {% for product in seller.product_set.all %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="max-width: 150px; height: auto;">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Add to Cart</button>
                        {% if user|has_group:"Seller" %}
                        <a class="btn btn-secondary" href="{{ product.get_absolute_url }}" role="button">Update</a>
                        <a class="btn btn-danger" href="{% url 'delete-product' product.id %}" role="button">Delete</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Seller Product Grid -->


</div>

<!-- Seller Detail Page End -->

{% endblock %}
