{% extends "knockoffKing/index.html" %}

{% block content %}
<!-- Transactions Page Start -->

<div class="container-fluid"  id="transactionsContainer">
  <div class="row">
    <div class="col-md-8">
      <div class="container px-1 py-3">
        <div class="container">
          <!-- Orders Page Title -->
          <h2 class="pb-2 border-bottom" style="color:#999999">Transaction History for {{ seller.name }}</h2>
          <!-- Orders Page Title -->

          {% if transactions %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Category</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in transactions %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ transaction.date }}</td>
                {% if transaction.category == 'Deposit' %}
                  <td style="color:red;">${{ transaction.amount }}</td>  
                {% else %}  
                  <td>${{ transaction.amount }}</td>
                {% endif %}
                <td>{{ transaction.category }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h5>You have no transaction history.</h5>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container px-1 py-3">
        <div class="container">
          <h2 class="pb-2 border-bottom" style="color:#999999">Current Earnings</h2>
          {% if seller %}
            <h3>${{ seller.income }}</h3>
            {% if seller.income > 0 %}
              <a class="btn btn-secondary" href="{% url 'withdraw' %}" role="button">Withdraw</a>
            {% elif seller.income < 0 %}
              <a class="btn btn-secondary" href="{% url 'deposit' %}" role="button">Deposit</a>
            {% else %}
              <a class="btn btn-secondary disabled" role="button">Withdraw</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Transactions Page End -->
{% endblock %}